.favorite
  float: right
  @extend .font20

  .text, .icon
    float: left

  .icon
    position: relative
    bottom: 10px
    margin:
      left: 10px
    +sprited("sprite", "star")

  &.favorited
    color: $orange

    .icon
      +sprited("sprite", "star-orange")

h1
  +stack
  margin:
    top: 10px
  @extend .font30

.lines
  +stack
  height: 70px
  position: relative
  overflow: hidden
  margin:
    top: 13px

  .line
    float: left
    margin:
      top: 0
      left: 20px

    &:first-child
      margin:
        left: 0

h2
  +stackwide
  margin:
    top: 69px
  @extend .font20

  &.downtown
    margin-top: 57px

table.direction
  +clearfix
  width: 100%
  @extend .font20

  tr
    padding:
      top: 17px

    &:first-child
      margin:
        top: 0

  td
    vertical-align: top

  td.line
    width: 60px
    height: 60px
    padding:
      top: 16px

  td.destination, td.time
    padding:
      top: 24px

  td.destination
    width: 400px
    line-height: 30px

  td.time
    width: 100px
    text-align: right

    &.arriving
      color: $orange
      -webkit-animation-name: blink
      -webkit-animation-duration: 1.2s
      -webkit-animation-iteration-count: infinite
      -webkit-animation-timing-function: cubic-bezier(1,0,0,1)

@-webkit-keyframes blink
  from
    opacity: 1

  to
    opacity: 0
