#wrapper
  .navigation
    %a{href: "/"} home
    %span.sep -
    %a{href: "/lines/#{@from}"} #{@from} line
  %h1 Union Square
  .lines
    .line.line70-4
    .line.line70-5
    .line.line70-6
  %h2 UPTOWN
  %table.direction
    %tr
      %td.line
        .line40-6
      %td.endpoint Pelham Bay Park
      %td.time 3min
