#wrapper
  %span.font20.home-headline Favorites
  .line70-1
  .line70-2
  .line70-3
  .line70-4
  .line70-5
  .line70-6
  .line70-s
  %span.font20.home-headline Browse
  %a.line140-1{href: "#"} 1 line
  %a.line140-2{href: "#"} 2 line
  %a.line140-3{href: "#"} 3 line
  %a.line140-4{href: "#"} 4 line
  %a.line140-5{href: "#"} 5 line
  %a.line140-6{href: "#"} 6 line
  %a.line140-s{href: "#"} S line
