#wrapper
  %span.font20.home-headline Favorites
  %ul.favorites
    %li
      %a{href: "#link-to-this-station"}
        .line.line70-1
        .content
          .font30.favorites-headline 42nd St.
          %table.font20
            %tr
              %td uptown
              %td 3min
            %tr
              %td downtown
              %td 2min
    %li
      %a{href: "#link-to-this-station"}
        .line.line70-4
        .content
          .font30.favorites-headline Atlantic Ave<br>Barclays Center
          %table.font20
            %tr
              %td uptown
              %td 3min
            %tr
              %td downtown
              %td 2min
    %li
      %a{href: "#link-to-this-station"}
        .line.line70-s
        .content
          .font30.favorites-headline Times Square
          %table.font20
            %tr
              %td westbound
              %td 3min
            %tr
              %td eastbound
              %td 2min
  %span.font20.home-headline Browse
  %a.line140-1{href: "/lines/1"} 1 line
  %a.line140-2{href: "/lines/2"} 2 line
  %a.line140-3{href: "/lines/3"} 3 line
  %a.line140-4{href: "/lines/4"} 4 line
  %a.line140-5{href: "/lines/5"} 5 line
  %a.line140-6{href: "/lines/6"} 6 line
  %a.line140-s{href: "/lines/s"} S line
