ul.line-wrapper
  +stackwide
  @extend .font30

  li
    position: relative
    overflow: hidden
    +stackwide

  .line
    display: block
    position: absolute
    z-index: 1
    left: 30px
    width: 10px
    height: 300px
    min-height: 40px

  .stop-marker
    position: relative
    z-index: 2
    float: left
    margin:
      top: 40px
      left: 20px
    width: 30px
    height: 30px
    padding: 10px

    .stop-marker-center
      display: block
      width: 10px
      height: 10px
      background: $bg

  a
    float: right
    width: 470px
    margin:
      top: 40px

// put in this scope to work for the lines
// and for the stop markers
.line-1, .line-2, .line-3
  background: $red

.line-1, .line-2, .line-3
  background: $red

.line-s
  background: $gray
