= sprite($group-name, $image-name, $offset: 0)
  @if $group-name == "sprite" and $image-name == "line140-1"
    background: image-url("sprite.png") no-repeat 0px #{0+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-2"
    background: image-url("sprite.png") no-repeat 0px #{-140+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-3"
    background: image-url("sprite.png") no-repeat 0px #{-280+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-4"
    background: image-url("sprite.png") no-repeat 0px #{-420+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-5"
    background: image-url("sprite.png") no-repeat 0px #{-560+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-6"
    background: image-url("sprite.png") no-repeat 0px #{-700+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-s"
    background: image-url("sprite.png") no-repeat 0px #{-840+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-1"
    background: image-url("sprite.png") no-repeat 0px #{-980+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-2"
    background: image-url("sprite.png") no-repeat 0px #{-1050+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-3"
    background: image-url("sprite.png") no-repeat 0px #{-1120+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-4"
    background: image-url("sprite.png") no-repeat 0px #{-1190+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-5"
    background: image-url("sprite.png") no-repeat 0px #{-1260+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-6"
    background: image-url("sprite.png") no-repeat 0px #{-1330+$offset}px
    +sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line70-s"
    background: image-url("sprite.png") no-repeat 0px #{-1400+$offset}px
    +sprite-dimensions($group-name, $image-name)

= sprite-dimensions($group-name, $image-name)
  @if $group-name == "sprite" and $image-name == "line140-1"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-2"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-3"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-4"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-5"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-6"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line140-s"
    width: 140px
    height: 140px
  @if $group-name == "sprite" and $image-name == "line70-1"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-2"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-3"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-4"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-5"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-6"
    width: 70px
    height: 70px
  @if $group-name == "sprite" and $image-name == "line70-s"
    width: 70px
    height: 70px
