// variables
$bg: #2b2b2b
$white: #fff

*
  +border-box

body
  .stackwide
  background: $bg
  color: $white

#wrapper
  +center(640px)
  background: url(/assets/grid.png) 0 0 repeat

// 140 pixel train line images
.line140-1
  +sprited("sprite", "line140-1")

.line140-2
  +sprited("sprite", "line140-2")

.line140-3
  +sprited("sprite", "line140-3")

.line140-4
  +sprited("sprite", "line140-4")

.line140-5
  +sprited("sprite", "line140-5")

.line140-6
  +sprited("sprite", "line140-6")

.line140-s
  +sprited("sprite", "line140-s")

